.season-list {
    position: relative;
    padding: 3rem 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.season-list .seasons {
    overflow-x: auto;
    white-space: nowrap;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}

.season-list .seasons::-webkit-scrollbar {
    display: none; 
 }

.season-list .seasons ul {
    display: inline-block;
    list-style: none; 
    padding: 0;
    width: 100%;
}

.season-list .seasons ul li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0 0 .5rem 0;
    margin-right: 2rem;
    cursor: pointer;
    
    scroll-snap-align: start;
}

.season-list .seasons ul li.active {
    border-bottom: 2px solid #ce382480;
}

.season-list__episode-stream {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1.25rem;
    cursor: grab;
    overscroll-behavior-x: contain;
    touch-action: pan-y;
    user-select: none;
}

.season-list__episode-stream:active {
    cursor: grabbing;
}

.season-list__episode-stream::-webkit-scrollbar {
    display: none;
}
