.genres {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 5rem auto 0;
    white-space: nowrap;


    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}


.genres::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.genres .genre-item {
    cursor: pointer;
}

.genres .genre-item.active {
    border-bottom: 2px solid #ce3824;
}

.genres .genre-item  h3 {
    white-space: nowrap;
}