.backToTop {
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    z-index: 10;
    transition: opacity 0.5s ease-in-out;
}

.backToTop.visible {
    display: block;
}

.backToTop svg {
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
}

.backToTop svg:hover {
    background-color: #ffffff60;
}
